@import '../../style/var.scss';

.ProfileBase {

  @at-root {
    .ProfileBase__inner {
      @include inner;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .ProfileBase__profile {
      padding: 5px;
      font-size: 16px;
    }

  }
}