@import '../../style/var.scss';

.HttpTest {
  @include inner;
  border: 2px solid #fff;
  margin-top: 50px;
  padding: 50px;

  button {
    color: #fff;
    font-size: 20px;
    padding: 10px;
    &:hover {
      background-color: pink;
    }
  }
}