@import '../../style/var.scss';

.MenuBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 5px;
  border-top: 1px solid #fff;
  box-shadow: 0px 0px 14px 0px  rgba(251, 251, 251, 0.6);
  background-color: $color_base;
  
  ul {
    display: flex;
    justify-content: space-around;
  }

  svg {
    fill: aliceblue;
  }
  @at-root {
    svg.MenuBar__favorite {
      // fill: none;
      // stroke: #fff;
      // stroke-width: 3px;
    }
  }
}
