@import '../../../style/var.scss';

.PostSingle {
  @include inner;

  @at-root {
    .PostSingle__title {
      border-bottom: 5px solid #fff;
      padding: 5px;
      font-size: 22px;
    }

    .PostSingle__text {
      padding: 10px;
      min-height: 250px;
    }

    .PostSingle__user {
      text-align: center;
    }
  }
}