@import '../../style/var.scss';

.Profile {
  @include inner;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @at-root {
    .Profile__head {
      padding: 15px 5px;
      display: flex;
    }

    .Profile__avator {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: rgb(149, 147, 147);
      margin-right: 15px;
    }

    .Profile__profile {
      padding: 5px;
      font-size: 16px;
    }

    .Profile__editButton {
      border: 1px solid #fff;
      padding: 5px;
      font-size: 16px;
      color: #fff;
      margin-top: 15px;
    }

    .Profile__closePanel {
      color: #fff;
      font-size: 20px;
    }

    .Profile__panelHeader {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      padding: 5px;
    }

    .Profile__editPanel {
      background-color: $color_base;
      position: fixed;
      height: 100vh;
      overflow: scroll;
      padding-bottom: 80px;
      width: 100%;
      transform: translateY(100vh);
      transition-duration: .3s;
      top: 0;
      left: 0;

      &.-active {
        transform: translateY(0);
        transition-duration: .3s;
      }
    }
  }
}