@import "../../style/var.scss";

.Home {
  @at-root {
    .Home__container {
      @include inner;
      text-align: center;
      line-height: 1.5;
    }

    .Home__link {

    }

    .Home__showPost {
      margin-top: 50px;
      padding: 25px 0;
      color: #fff;
      text-decoration: underline;
      font-size: 20px;
    }
  }
}
