@mixin form {

  display: flex;
  flex-direction: column;

  &__input {
    max-width: 300px;
    padding: 8px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(135, 135, 135);
    border: none;
    color: #fff;
  }

  textarea {
    color: #fff;
    max-width: 300px;
    font-size: 20px;
    background-color: rgb(135, 135, 135);
    width: 100%;
  }

  &__textarea {
    width: 300px;
    min-height: 250px;
  }

  &__row {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    & + &__row {
      margin-top: 5px;
    }
  }

  &__label {
    padding: 10px;
    max-width: 300px;
    width: 100%;
    text-align: left;
  }

  &__button {
    border: 1px solid #fff;
    padding: 15px;
    width: 300px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin: 20px auto 20px;

    &:hover {
      background-color: rgb(111, 111, 111);
    }
  }

  &__error {
    color: rgb(217, 89, 89);
    width: 100%;
    font-size: 18px;
    padding: 5px;
  }
}
